*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #4DA8DA;
    --secondary-color: #FFD66B;
    --ternary-color: #80D8C3;
    --bg-color: #F5F5F5;

    --primary-color-dark:  #337193;
}

body{
    background-color: var(--primary-color-dark);
    width: 100%;
    height: 100vh;
    text-align: center;
    min-height: 100%;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    position: absolute;
    display: inline-block;
    width: 400px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
main{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

section{
    background-color: var(--primary-color);
    display: flex;
    min-height: 300px;
    max-height: 400px;
    width: 396px;
    align-items: center;
    justify-content:top;
    flex-direction: column;
    gap: 1rem;
    margin:20px 0;
    border-radius: 50px;
    
}

h1{
    font-size: 2.5rem;
}

section>h1{
    padding-top: 10px;
}

.app__tabs{
    width: 100%;
    display:flex;
    flex: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap:.5rem;
}

.app__tab{
    margin: 10px;
    padding: 10px;
    background-color: var(--primary-color);

    border: 1px solid black;
    border-radius: 10px;
    color: var(--secondary-color);
}
.app__tab:not(.active__tab):hover{
    cursor: pointer;
    box-shadow: inset 0px -2px 4px;
    margin-bottom: -2px;
}
.active__tab{
    background-color: var(--primary-color-dark);
    color: var(--primary-color);
    cursor: not-allowed;
}
.time-unit {
    height: fit-content;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 2rem;

}
#dropdown {
    font-size: 2rem;
    position: absolute;
    display: none;
    background: transparent;
    z-index: 100;
    width: fit-content;
    flex-direction: column;
    align-items: center;    

}

.dropdown-option {
    background-color: var(--ternary-color);
    width: fit-content;
    font-size: 2rem;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: var(--bg-color);

}

.dropdown-option:hover {
    background-color: var(--secondary-color);
}  

.app__btn{
    min-height: 100%;
    width: 3rem;
    height: 3rem;
    padding: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--ternary-color);
}
.app__btn:hover{
    background-color: var(--secondary-color);
    color: #777;
}

.hidden{
    display: none;
}


.history-container{
    min-width: 100%;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    border-top: 1px solid var(--primary-color-dark);
    
    height: 150px;
}
.history-row{
    height: fit-content;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
  
}
.history-row>span{
  margin-right: 15px;
  width: 60%;
  text-align: left;
  padding-left: 5px;
  font-weight: 500;
  font-size: 1.2rem;

}

.history_button{
  padding: 2px;
  width: 25px;
  height: 25px;
  background-color: var(--ternary-color);
  border: none;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--secondary-color);
  cursor: pointer;
}

.history_button:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}