

#timer {
  height: 50%; 
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  user-select: none;
  position: relative;
  width: fit-content;
  
  
}

#timer-buttons{
  
  display: inline-flex;
  min-height: max-content;
  align-items: center;
  justify-content: space-between;
  gap:.5rem;
}

.timer-history span{
  color: black;
  font-size: 1rem;
}
