#feature--2{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 600px;
  
  margin:20px 0;
}
#timer {
  height: 50%;
  font-size: 2rem;
  display: inline-flex;
  gap: 5px;
  user-select: none;
  position: relative;
  width: fit-content;
}

.time-unit {
  height: fit-content;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

#dropdown {
  font-size: 32px;
  position: absolute;
  display: none;
  background: white;
  border: 1px solid #000;
  z-index: 100;
  font-size: 24px;
}

.dropdown-option {
  font-size: 32px;
  padding: 5px 10px;

  border: 1px solid #ccc;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #eee;
}
